.welcome__container__ {
  h1 {
    color: #fff;
    text-align: center;
    font-family: Roboto !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h6 {
    color: #472b90;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .icon__txt {
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
