.birthday {
  .__main {
    .br {
        display: absolute;
        bottom: 0;
        right: -15%;
    }
    .lb {
        display: absolute;
        bottom: 0;
        left: 0;
    }
    .lt {
        top: 0;
    }
    width: 400px;
    height: auto;
    .__text__top {
        h2 {
            font-family: Inter, sans-serif;
            font-style: normal;
            color: black;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        h1 {
            font-family: Inter, sans-serif;
            font-style: normal;
            color: black;
            font-size: 16px;
            line-height: 20px;
            font-weight: 800;
        }
    }
    .__text__middle {
        text-align: center;
        h1 {
            font-size: 30px;
            font-style: normal;
        }
        h2 {
            font-size: 20px;
            text-align: center;
            margin-top: 8px;
        }
    }
    .__text__bottom {
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 18px;
        margin-bottom: 8px;
        p {
            margin-bottom: 10px;
        }
    }
  }
}
