@mixin min__width {
  max-width: 327px;
  flex-shrink: 0;
  padding: 30px 20px;
  border-radius: 15px;
  border: 2px solid #0d0d0d;
  background: #141414;
}

.__app__white__signin {
  background: #fff !important;
  border-radius: 15px;
  border: 2px solid #000060;
  background: #fff;
}

.signin__container__ {
  .__hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3a3a3a;
    margin: 1em 0;
    padding: 0;
  }
  .h__ {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .signup__section {
    @include min__width();
    // White background for signin
    .__app__white__btn {
      background: #fff !important;
      color: #000060 !important;
    }
    button {
      border-radius: 10px;
      border: 1px solid #0d0d0d;
      background: #191919;
      color: #fff;
      margin-bottom: 20px;
      .__h {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-family: Roboto;
      }
    }
    label {
      font-family: Roboto !important;
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 8px;
    }
    input {
      font-family: Roboto !important;
      border-radius: 10px;
      border: 1px solid #0d0d0d;
      background: #191919;
      padding: 8px 10px;
      outline: none;
      color: #fff;
    }
    .forgot__pass__ {
      color: #fff;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: auto;
    }
    form {
      div {
        display: flex;
        flex-direction: column;
      }
    }
    .signup__btn {
      max-width: 110px;
      margin-left: auto;
      h3 {
        color: #fff;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .bottom__text {
    h4 {
      color: #fff;
      font-family: Roboto !important;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    span {
      color: #9d0000;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
