 .list-txt {
    display: flex;
    width: 335px;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    h3 {
      color: #fff;
      text-align: center;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }